@import url("../base.css");

.login-page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
    background-color: var(--gray-tinted-1);
    padding: 0;
}

.identity-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    flex: 1;
}

.identity-button {
    width: 100%;
    justify-content: flex-start;
    border: 0;
    border-bottom: 1px solid var(--gray-tinted-3);
    background-color: var(--gray-tinted-2);
    color: var(--color-title);
    font-weight: 600;
    padding: 0 1rem;
    height: 3rem;
    transition: background-color 140ms ease, color 140ms ease;
}

.identity-button:hover:not(:disabled) {
    background-color: var(--gray-tinted-3);
    color: var(--color-secondary);
}

.identity-button:active:not(:disabled) {
    background-color: var(--gray-tinted-4);
    color: var(--color-primary);
}

.identity-button:last-child {
    border-bottom: 0;
}
