@import url("../../color.css");

.identity-manage {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.identity-manage .identity-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.identity-manage .identity-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.identity-manage .identity-row input[type="text"] {
  flex: 1;
}

.identity-manage .roles {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  flex: 3;
}

.identity-manage .roles select {
  width: 150px;
}
