@import url("../../color.css");

.timeline-view {
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.timeline-view > div {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 2rem;
}

.now {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: var(--color-primary);
    z-index: 0;
}

.now::after {
    color: var(--color-primary);
    content: "现在";
    position: absolute;
    top: 0;
    width: 40px;
}

.border {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: var(--color-tertiary);
    z-index: 0;
}

.tick {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: var(--gray-tinted-4);
    color: var(--gray-tinted-4);
    text-align: start;
    z-index: 0;
}

.track {
    position: relative;
    height: 2.5rem;
}