@import url("../../color.css");

.timeline-item {
    position: absolute;
    top: 0;
    left: 0;
    --timeline-item-x: 0px;
    --timeline-item-width: 0px;
}

.timeline-item .assignment-title {
    padding-left: clamp(0px, calc(var(--timeline-view-x, 0px) - var(--timeline-item-x, 0px)), var(--timeline-item-width, 0px));
}

.timeline-item .assignment-title > h5 {
    text-shadow: 1px 1px 0px var(--color-on-accent), -1px -1px 0px var(--color-on-accent), 1px -1px 0px var(--color-on-accent), -1px 1px 0px var(--color-on-accent);
}

.timeline-item-bar {
    display: flex;
    align-items: center;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    color: var(--color-text-primary);
    padding: 4px;
    position: relative;
    z-index: 1;
}
.timeline-item-bar > * {
    z-index: 3;
    pointer-events: none;
    text-wrap-mode: nowrap;
    overflow-x: hidden;
}

.priority-1 {
    background-color: var(--gray-tinted-3);
}

.priority-2 {
    background-color: var(--color-quaternary);
}

.priority-3 {
    background-color: var(--color-tertiary);
}

.priority-4 {
    background-color: var(--color-primary);
}

.priority-5 {
    background-color: var(--color-secondary);
}

.timeline-item-time-progress {
    position: absolute;
    top: 2%;
    left: 0;
    width: 100%;
    height: 45%;
    opacity: 0.7;
    background-color: var(--color-info);
    border: 1px solid var(--color-title);
    z-index: 2;
    text-align: right;
    pointer-events: none;
    overflow: hidden;
}

.timeline-item-time-progress > * {
    z-index: 2;
    color: var(--color-on-accent);
}

.timeline-item-submission-progress {
    position: absolute;
    bottom: 2%;
    left: 0;
    width: 100%;
    height: 45%;
    opacity: 0.7;
    background-color: var(--color-confirm);
    border: 1px solid var(--color-menu);
    z-index: 2;
    text-align: right;
    pointer-events: none;
    overflow: hidden;
}

.timeline-item-submission-progress > * {
    z-index: 2;
    color: var(--color-on-accent);
}

.timeline-item-description {
    padding: 4px;
    text-wrap-mode: wrap;
}
